
<%= render 'shared/errors' , obj: @user %> <!-- passes @user into obj that then is used in _errors.html -->

<%= form_with(model: @user, class: "shadow px-4 pb-1 pt-3 bg-light rounded", local: true ) do |form| %>
  <div class="form-group row">
    <label>Username</label>
    <%= form.text_field :username, class: 'form-control', placeholder: "Enter a username"  %>
  </div>
  <div class="form-group row">
    <label>Email</label><br>
    <%= form.email_field :email, class: 'form-control', placeholder: "Enter your email address" %>
  </div>
  <div class="form-group row">
    <label>Password</label><br>
    <%= form.password_field :password, class: 'form-control', placeholder: "Choose a password" %>
  </div>
  <div class="form-group row justify-content-between">
    <%= form.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-outline-dark btn-lg") %>
    <% if logged_in?%>
      <%= link_to "Delete profile?", user_path(current_user), class: "btn btn-outline-danger btn-lg",method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
<% end %>

<div class="container text-center my-5">
  <% if logged_in? %>
    <%= link_to '[ Return to profile ]', user_path(@user) %>
  <% else %>
    <%= link_to '[ Back ]', root_path %>
  <% end %>
</div>

