<h1 class="text-center my-4" >Alpha Bloggers</h1>
<div class="flickr_pagination my-2">
    <%= will_paginate @users, :container => false %>
</div>
<div class="container">
    <% @users.each do |user|%>
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
        <div class="card text-center mb-5 shadow bg-white rounded">
            <div class="card-header">
                <%= user.username %>
            </div>
            <div class="card-body">
                <div class="my-2">
                    <%= gravatar_for( user, size: 230) %>
                </div>
                <h5 class="my-3"> <%= pluralize(user.articles.count, "article")%> </h5>
                <%= link_to 'View profile', user, class: "btn btn-outline-success" %>
                <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info" %>
            </div>
            <div class="card-footer text-muted">
                <small>Joined <%= time_ago_in_words(user.created_at)%> ago</small>
            </div>
            </div>
        </div>
    </div>
    <%end%>
</div>



